* {
    margin: 0;  
    padding: 0; 
    box-sizing: border-box; 
}
[data-theme="light"]
/* #nav-right a标签 渐显优化 + 周围荧光 */
    /* 首页-fixed */
    div.menus_item > a:first-child {  
        position: relative;
        display: inline-block;
        color: #fff;
        transition: background-color 0.2s !important;  
        cursor: pointer;  
        text-transform: uppercase;
        background-color: inherit;
    }
    div.menus_item > a:first-child:hover {  
        cursor: pointer;
        color: #fff !important;  
        background-color: #5da32e;  
        background-size: 400%;  
        box-shadow: 0 0 15px rgb(2, 4, 24);  
        z-index: 1; 
    }
    /* page情况下的site-page-fiexd */
    /* #page-header.nav-fixed #nav #blog_name a, #page-header.nav-fixed #nav .mask-name-container a, #page-header.nav-fixed #nav #menus a, #page-header.nav-fixed #nav #nav-right .nav-button a, #page-header.nav-fixed #nav #nav-right #toggle-menu a:first-child[style*="background-color: #5da32e"] {  
        color: #fff !important;
    } */
    div.menus_item > a:first-child::before {
        color: #fff !important;
        content: '';
        position: absolute;  
        top: 0;  
        right: 0;  
        bottom: 0;  
        left: 0;  
        background: inherit;  
        filter: blur(6px);  
        z-index: -1;  
        opacity: 1;
        border-radius: 15px 15px 15px 15px;
    }
    #page-header.nav-fixed #nav #blog_name a, #page-header.nav-fixed #nav .mask-name-container a, #page-header.nav-fixed #nav #menus a, #page-header.nav-fixed #nav #nav-right .nav-button a, #page-header.nav-fixed #nav #nav-right #toggle-menu a:first-child {
        color: var(--font-color);
    }


/* dark模式nav的site-page a标签变为金色（#f2b94b） */
[data-theme="dark"]
    div.menus_item > a:first-child {  
        position: relative;
        display: inline-block;
        color: #eee;
        transition: background-color 0.2s !important;  
        cursor: pointer;  
        text-transform: uppercase;
    }  
    div.menus_item > a:first-child:hover {  
        color: #eee !important;  
        cursor: pointer;
        background-color: #f2b94b;  
        background-size: 400%;  
        box-shadow: 0 0 15px rgb(2, 4, 24);  
        z-index: 1; 
    }
    div.menus_item > a:first-child::before {
        color: #eee !important;
        cursor: pointer;
        content: '';
        position: absolute;  
        top: 0;  
        right: 0;  
        bottom: 0;  
        left: 0;  
        background: inherit;  
        filter: blur(6px);  
        z-index: -1;  
        opacity: 1;
        border-radius: 15px 15px 15px 15px;
    }

    /* subtitle-dark 增亮 */
    #page-header #site-subtitle {
        color: rgba(255, 255, 255, 1) !important;
    }